body{
  font-family: Arial, Helvetica, sans-serif
}
/* HEADER */


/* MAIN  */
.minefield{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #021527;
  height: 77vh;
}

#scorepoint {
  background-color: #021527;
  padding-bottom: 15px;
  text-align: center;
  color: #FFFFFF;
}

.container{
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  color: white;
}

.square-easy{    
  width: calc(100% / 10);
  height: calc(100% / 10);
}  

.square-medium{    
  width: calc(100% / 9);
  height: calc(100% / 9);
}  

.square-hard{    
  width: calc(100% / 7);
  height: calc(100% / 7);
} 

.square-ultra-nightmare{    
  width: calc(100% / 5);
  height: calc(100% / 5);
}  

.square span{
  display: none;
}

.square.clicked span{
  display: block;
}

.square.clicked {
  background-color: #009C9C;
  background-image: url(/img/576-5765265_transparent-northern-star-png-clipart.png);
  background-size: cover;
}


.bomb {
  background-color: #FF0000;
  color: #FFFFFF;
  background-image: url(/img/bomb-icon-16.jpg);
  background-size: cover;
}

#play, #reset {
  border-radius: 5px;
}


/* FOOTER */

